<!DOCTYPE html>
<html>
  <head>
    <title>M-I</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

    <% if current_user %>
    <br>
    <br>
    Logged in as <%= current_user.email %>.
  <br>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <br>
    <br>
    <%= link_to "Sign Up", signup_path %> 
    or
    <%= link_to "Log In", login_path %>
  <% end %>
  <br>
  <br>
  
  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>

</html>
